@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}


.dark {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}

.light {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

.container{
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--bg);
  color: var(--textColor);
}

.reverseBgColor{
  background-color: var(--textColor);
}
.reverseTextColor{
  color: var(--bg);
}

.bgColor{
  background-color: var(--bg);
}

.textColor{
  color: var(--textColor);
}

.softBg{
  background-color: var(--softBg);
}

.darkBg{
  background-color: #1f273a
}

.softTextColor{
  color: var(--softTextColor)
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


